body {
    width: 100%;
    text-align: center;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 19px;
    font-weight: lighter;
    line-height: 2em;
    background-image: url("../images/bg_image.png");
    background-color:  #fff;
    background-repeat: repeat;
    margin: 0 0 100px;
    padding: 0 0 25px;
}
img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #4aaaa5;
    -webkit-transition-duration: none;
    -moz-transition-duration: .5s;
    -o-transition-duration: .5s;
    transition-duration: .5s;
}
    a:hover {
        text-decoration: none;
        color: #adadad;
        -webkit-transition-duration: none;
        -moz-transition-duration: .6s;
        -o-transition-duration: .6s;
        transition-duration: .6s;
    }

    img, img:hover {
    -webkit-transition-duration: none;
    -moz-transition-duration: .8s;
    -o-transition-duration: .8s;
    transition-duration: .8s;
    }


h1, h2, h3, h4, h5, h6 {
    font-family: Georgia;
    font-weight: bold;
}
 h2 {
     font-size: 1.3em;
 }


.content-width {
    width: 960px;
}

.navbar {
    padding: 0;
    border-bottom: 2px #cccccc solid;
}

.navbar-brand {
    background-color: #4aaaa7;
    padding: 15px 20px;
    font-weight: bold;
    font-family: 'Georgia';
    font-size: 1.4em;
}       
    .navbar-light .navbar-brand {
        color: #fff;
    }

li.nav-item {
    padding: 0 8px;
}

.navbar-light .navbar-nav .active>.nav-link  {
    color: #ffffff;
    background-color: #4aaaa5;
    border-radius: 7px;
}


.content-style {
    text-align: left;
    background-color: #ffffff;
    border: 1px #dddddd solid;
    margin: 30px auto;
    padding: 20px;
}
    .content-style h1 {
        font-family: 'Georgia';
        font-weight: bold;
        color: #4aaaa5;
        font-size: 30px;
        margin-top: 10px;
        font-size: 1.4em;
    }
        .content-style hr {
            border-top: 2px #cccccc solid;
        }

    img.about {
        float: left;
        width: 200px;
        height: auto;
        margin: 15px;
    }

    .center-portfolio {
        text-align: center;
    }

    .portfolio_item img {
        clear: both;
        margin-bottom: 8px;
    }
    .portfolio_item {
        font-size: .7em;
        line-height: 1.2em;
        display: inline-block;
        text-align: center;
    }
    .portfolio_item img:hover {
        -webkit-box-shadow: 0px 0px 30px 12px rgba(110,207,201,1);
        -moz-box-shadow: 0px 0px 30px 12px rgba(110,207,201,1);
        box-shadow: 0px 0px 30px 12px rgba(110,207,201,1);
    }
    .ptfo-img-container {
        position: relative;
        display: inline-block;
    }
    .ptfo-img-container .ptfo-title {
        background-color: #4aaaa5;
        color: #ffffff;
        font-family: 'Georgia', Times, 'Times New Roman', serif;
        font-size: 18px;
        font-weight: bold;
        padding: 7px;
        text-align: center;
        position: absolute;
        bottom: 10%;
        left: 2%;
        width: 96%;
        height: 30px;
        margin: auto;
        white-space: nowrap;
    }

    /* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin: 0 0 100px; /* Margin bottom by footer height */
  }
  .footer {
    color: #cccccc;
    font-size: 12px;
    background-color: #666666;
    padding: 35px 0 0 0;
    border-top: 8px #4aaaa5 solid;

    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px; /* Set the fixed height of the footer here */
    line-height: 90px; /* Vertically center the text there */
  }

  @media screen and (max-width: 980px) {
    .content-width {
        width: 100%;
    }
  }